body {
    background-color: #112333;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    z-index: 999;
    padding: 15px;
    background: #112333;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

label {
    margin: 0;
}

/* #Goto-verse-select title text color */
.bs-placeholder > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    color: #212529;
}

/* ---------------------------------------------------
    BUTTONS STYLE
----------------------------------------------------- */

.custom-btn {
    background-color: #1C668E;
    border-color: #1C668E;
    color: #F6DF82;
    position: relative;
    top: 15%;
    padding: 0;
    height: 70%;
}

.custom-btn:hover {
    background-color: #112333;
    border-color: #112333;
}

.right-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: auto;
}

.left-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    left: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    transition: all 0.3s;
}

#scrolling-wrapper {
    margin: 10vh 0 10vh 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;
    height: 80vh;
    max-height: 80vh;
    min-height: 100px;
}

#scrolling-wrapper > img {
    display: inline-block;
    height: 100%;
    min-height: 10px;
}

.separator {
    height: 100%;
    width: 0;
}

/* ---------------------------------------------------
    TILES STYLE
----------------------------------------------------- */

.tiles {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 10vh;
    min-height: 10vh;
    background-image: url(../images/Tile.png);
    background-size: auto 100%;
    image-rendering: high-quality;
    background-position-x: center;
}

.tiles-top {
    top: 0;
}

.tiles-bottom {
    bottom: 0;
}